/*
 *= require jquery-ui
 */

@import "bootstrap";
@import "font-awesome";


/*#arrow{
  position: absolute; 
  bottom: 0;
}*/

body {
  font-family: 'amatic_scregular';
  background-color: black;
  color: white;
  /*min-height: 100%;*/
}

body a {
  color: white;
}

body h3 {
  color: black;
}

.hero {
  background: image_url('main.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  
}

.hero-2{
  background: image_url('portfolio.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  
}

/*.flex-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.body-container {
  flex: 1;
}*/

.main {
  font-family: 'exolight', san-serif;
  /*min-height: 200px;*/
  background: white;
}

.navbar {
  background-image: image_url("starchaser.jpg");
}

.icons2 {
  box-shadow: 0px 1px 3px #2a2a2a;
  background: rgba(255, 255, 255, 0.7);
  width: auto;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icons-box {
  background: white;
  /*color: black;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  box-shadow: 0px 1px 3px #2a2a2a;
  max-width: 516px;
  /*font-family: 'exolight';*/
  /*border-radius: 1%;*/
  /*width: 100%;*/
  /*list-style: none;*/
  /*font-size: 20px;
  min-height: 40px;
  position: relative;*/
}

.text {
  color: black;
}

.text:hover {
  text-decoration: none;
  color: black;
}

.white-box { 
  background: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: 'exolight';
  border-radius: 1%;
  width: 100%;
  list-style: none;
  font-size: 20px;
  min-height: 40px;
  position: relative;
}