<div class="resume">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="code-header col-10 text-left">
        <h1>My Resume</h1>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="resume-box col-10">
        <br/>
        <ul class="icons-box">
          <li>           
            <i class="fa fa-github fa-2x col-12" aria-hidden="true"><a href="https://github.com/gretchonian"> My GitHub</a></i>
            </li> 
            <br/>              
          <li>
            <i class="fa fa-linkedin fa-2x col-12" aria-hidden="true"><a href="https://www.linkedin.com/in/gretchen-joyce-0325a485/"> My LinkedIn</a></i>
          </li>
          <br/>
          <li>
            <i class="fa fa-github fa-2x col-12" aria-hidden="true"><a href ="https://github.com/PushThePiece/chess/issues/103"> Example: Issue (bug) opened in GitHub</a></i>
          </li>
          <br/>
          <li>
            <i class="fa fa-github fa-2x col-12" aria-hidden="true"><a href="https://github.com/PushThePiece/chess/issues/90"> Example: Issue #90 (bug) closed in GitHub</a></i>
          </li>
          <br/>
          <li>
            <i class="fa fa-code-fork fa-2x col-12" aria-hidden="true"><a href="https://github.com/PushThePiece/chess/pull/99/files">&nbsp;  Example: Pull Request that fixed bug in Issue #90</a></i>
          </li>
        <!--   <br/>
          <li>
            <i class="fa fa-twitter fa-2x col-12" aria-hidden="true"><a href="https://twitter.com/gretchonian"> @gretchonian</a></i>
          </li> -->
        </ul>
        <br/>
      </div>
    </div>
  </div>
</div>