<div class="second">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="white-box col-10">
        <!-- <div class=" col-md-8 offset-md-2">  -->
          <ul class="icons-box">
            <li>           
              <i class="fa fa-github fa-2x col-8" aria-hidden="true"><a href="https://github.com/gretchonian"> My Github</a></i>
            </li>               
            <li>
              <i class="fa fa-linkedin fa-2x col-8" aria-hidden="true"><a href="https://www.linkedin.com/in/gretchen-joyce-0325a485/"> My LinkedIn</a></i>
            </li>
        </ul>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>