<div class="hero">
  <div class="col">
    <h1>hello</h1>
  </div>
<div class="main container-fluid">
  <div class="row justify-content-around">
    <!-- <div class="first_box"> -->
      <div class="col-sm-5 white-box top">
        <p>this is the body container</p>
      </div>
      <div class="col-sm-5 white-box">
        <p>this is the other half of the body container</p>
      </div>
    <!-- </div> -->
  </div>
  <div class="row justify-content-around">
    <div class="col-sm-5 white-box bottom">
      <p>this is the body container</p>
    </div>
    <div class="col-sm-5 white-box bottom">
      <p>this is the other half of the body container</p>
    </div>
  </div>
</div>
