<div class="hero">
  <div class="main container-fluid">
    <div class="col-8 offset-2 white-box">
      <div class="col-sm-8 header">
        <h1>ZigZag Designs</h1>
        <h2>SOFTWARE DEVELOPMENT</h2>
      </div>
      <br/>
      <div class="col intro">
        <p>ZigZag Designs offers solutions to all of your questions. Specializing in mobile-first web design with rapid user interface (JavaScript, Node.JS, JQuery) or managing complex-database relationships (postgreSQL, mySQL) for handling customers' information, online forms, or any unique feature you desire!</p>
      </div>
      <br/>
      <div class="contact text-center">
        <p></p>
        <%= link_to 'mailto:gretchen@zigzagwebdesigns.com', class: 'btn btn-success' do %>
          Contact me today! 
        <% end %>
      </div>
    </div>
  </div>
</div>       
<div class="hero-2">
  <div class="main container-fluid">
    <div class="col-8 offset-2 white-box">
      <br/>
      <div class="row">
        <h4 class="col-12">Web applications created with some of the following tools:</h4>
      </div>
      <br/>
      <div class="row justify-content-around">
        <div class="col-md-8">
          <%= image_tag "skills.png", class: "icons2 img-fluid"%>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <h4 class="col-12">Proficient in the following applications:</h4>
      </div>
      <br/>
      <div class="row justify-content-around">
        <div class="col-md-4">
          <ul>
            <li>Heroku</li>
            <li>PostgreSQL</li>
            <li>Object-Oriented Prog.</li>
            <li>Github</li>
            <li>TDD - Rspec</li>
            <li>Slack</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>Web APIs</li>
            <li>JQuery</li>
            <li>AJAX</li>
            <li>RESTful Routes</li>
            <li>Node.js</li>
            <li>Code Climate</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li>Bootstrap</li>
            <li>Agile Teams</li>
            <li>Git</li>
            <li>Amazon AWS S3</li>
            <li>MVCs</li>
            <li>Trello</li>
          </ul>
        </div>
      </div>
      <br/>
      <div class="contact text-center">
        <%= link_to "Browse my Portfolio!", portfolio_path, class: "btn btn-success"%>
      </div>
      <br/>
    </div>
  </div>
</div>

