  <script>
    $(function () {
      $('.white-box').click(function() {
        $( this ).hide('slow');
      });
    });    
  </script>
  

  <div class="hero">
    <div class="col">
      <h1>hello</h1>
    </div>
  </div>
<div class="main container-fluid">
  <div class="row justify-content-around">
    <div class="col-sm-5 white-box">
      <p>this is the body container</p>
    </div>
    <div class="col-sm-5 white-box">
      <p>this is the other half of the body container</p>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-sm-5 white-box">
      <p>this is the body container</p>
    </div>
    <div class="col-sm-5 white-box">
      <p>this is the other half of the body container</p>
    </div>
  </div>
</div>
